:root {

  --background: #FFF;
  --white: #FFF;
  --primary: #292B46;
  --dark: #494666;
  --body-color: #494666;
  --button: #9043ed;
  --gradient: linear-gradient(266.87deg, #8EA7E7 10.89%, #FF3E96 61.91%, #B175FB 108.46%);

}

