.features {
    padding: 80px 0;
    @media #{$mq-620-down} {
        padding: 40px 0 20px;
    }
    &__card {
        padding: 80px 50px;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 30.1471px 24.1177px rgba(0, 0, 0, 0.0456112), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 4.5288px 3.62304px rgba(0, 0, 0, 0.0243888);
        border-radius: 24px;
        background-color: rgba(255, 255, 255, 0.8);
        @media #{$mq-620-down} {
            padding: 30px;
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media #{$mq-760-down} {
            flex-direction: column-reverse;
        }
    }

    &__content {
        width: 35%;
        padding-right: 20px;
        @media #{$mq-1180-down} {
            width: 40%;
        }
        @media #{$mq-760-down} {
             width: 100%;
             padding: 40px 0 0;
        }
    }

    &__media {
        width: 65%;
        @media #{$mq-1180-down} {
            width: 60%;
        }
        @media #{$mq-760-down} {
             width: 100%;
        }
    }
    &__image {
        position: relative;
        z-index: 1;
        img {
            border-radius: 15px;
        }

        &:before {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(-45deg, #96ff81 0%, #c78aff 100%);
            transform: translate3d(0px, 1px, 0) scale(1.05);
            filter: blur(44px);
            opacity: 0.7;
            transition: opacity 0.3s;
            border-radius: inherit;
        }
        &::after {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: inherit;
            border-radius: inherit;
        }
    }
            
        
}

.feature-list {
    @media #{$mq-760-down} {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
    }
    @media #{$mq-620-down} {
        grid-template-columns: 1fr;
        gap: 0;
    }
    li {
        @include fsz(18px);
        font-weight: 600;
        position: relative;
        padding-left: 25px;
        line-height: 1.4;
        @media #{$mq-900-down} {
            @include fsz(16px);
        }
        &:not(:last-child) {
            margin-bottom: 25px;
        }
        svg {
            display: inline-block;
            width: 18px;
            height: 18px;
        }

        &::before {
            content: '';
            width: 8px;
            height: 8px;
            background-color: currentColor;
            position: absolute;
            top: 6px;
            left: 0;
            transform-origin: center;
            transform: rotate(-45deg);
        }
    }
}