---
import Navigation from "../components/Navigation.astro";
---

<header>
  <Navigation>
    <li class="menu__item"><a href="#about" class="menu__link">About</a></li>
    <li class="menu__item"><a href="#features" class="menu__link">Features</a></li>
    <li class="menu__item"><a href="#source" class="menu__link">Source</a></li>
  </Navigation>
</header>
